<div class="profile-intro">
  <a href=""><h3> À propos</h3></a>
  <p>Believe in yourself my brother we are together </p>
  <hr>
  <ul>
    <li>Localisation .......................</li>
    <li>habite à ......................</li>
    <li>A étudié à ....................</li>
    <li>De ..............................</li>
    <li> Travaille à ........................</li>
    <li><a href="facebook.com">Facebook</a></li>
    <li><a href="instagram.com">Instagram</a></li>
    <li><a href="youtube.com">Youtube</a></li>
  </ul>
</div>
