<div class="work-steps" id="work-steps">
  <h2 class="main-title">Contacter nous </h2>
  <div class="container">

    <div class="info" style="display: flex;">
      <div class="box">
        <div class="form">
          <div class="content">
            <form action="">
              <input class="input" type="text" placeholder="Vous êtes" name="Vous êtes" />
              <input class="input" type="text" placeholder="Votre nom" name="name" />
              <input class="input" type="email" placeholder="Votre E-mail" name="email" />
              <input class="input" type="text" placeholder="Ton téléphone" name="mobile" />
              <textarea class="input" placeholder="Parlez-nous de vos besoins" name="message"></textarea>
              <input type="submit" value="Envoyer" />
            </form>
          </div>
        </div>
      </div>
      <div style="background-color: #b3e1b3" class="box">
        <img id="imgcontact" src="/assets/imgs/contact.jpg" alt="" />
        <!--<div class="text">
          <h3>Si vous êtes un simple utilisateur</h3>
          <p>
          </p>
        </div>-->
      </div>

    </div>
  </div>
</div>
