<div class="profile-container">
  <img src="assets/imgs/profile/yu.jpg" class="cover-img">
  <div class="profile-details">
    <div class="pd-left">
      <div class="pd-row">
        <img src="assets/imgs/profile/imageprofile.png" class="pd-image">
        <div>
          <h3> Username</h3>
          <p>??? followers -- ??? posts</p>
          <h5> UX/UI Designer & Front-end Developer <br> i'm the best </h5>
        </div>
      </div>
    </div>
    <div class="pd-right">
      <button type="button" style="width: 200px;" ><img src="/assets/imgs/profile/edit-button.png" > Modifier le profile</button>
      <button type="button" ><img src="/assets/imgs/profile/messager.png" >Message</button>
    </div>
  </div>
  <div class="profile-info">
    <div class="info-col">
      <app-apropos-profile> </app-apropos-profile>
      <app-galerie-profile></app-galerie-profile>
    </div>
    <div class="info-post">
      <app-create-post></app-create-post>
      <app-post-profile></app-post-profile>
    </div>
  </div>
</div>
