.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;

}
.work-steps .container {

  display: flow-root;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
  border-radius: 10px;
  margin-left: 247px;

}
@media (max-width: 991px) {
  .work-steps .image {
    margin: 0 0 50px;
  }
}
.work-steps .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5px;
  border: 6px;
  width: 50.5%;
  height: 800px;
  z-index: 1;
}
@media (max-width: 767px) {
  .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  /*transition: var(--main-transition);*/
}
.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .info .box h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.form .input {
  display: block;
  width: 180%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  border-radius: 8px;
}
.form textarea.input {
  resize: none;
  height: 200px;
}
.form .input:focus {
  outline: none;
}
.form [type="submit"] {
  margin-top: 8px;
  display: block;
  border: #2196f3;
  outline: none;
  background: #2196f3;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px ;
  border-radius: 5px;
  cursor: pointer;
  width:300px;
}
.form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.content {
  text-align: center;
  padding: 0 20px;
}
.content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

#imgcontact{
  margin-top: 360px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
}
.box img{
  height: 600px;
  z-index: 1;
  margin-left: -30px;
}
.formulaire {
  height: 100%;
  width:100%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 522px;
  margin-left:100px;
}
.formulaire h2{
  width: 150%;
  margin-top: -470px;
  margin-left:-111px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #2196f3
}
.input-signup input{
  display: block;
  padding: 10px 30px;
  font-size: 1rem;
  letter-spacing: 1px;
  border-bottom: 1px solid grey;
  outline: none;
  color: inherit;
  border-radius: 10px;
}
.input-signup label{
  width:180px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: .3s ease-out;
  display: inherit;
}
.input-signup{
  text-align: center;
  width: 100%;
  margin-left: -92px;
  display:flex;
}
.input-signup label, .input-signup input {
  margin: 10px 0;
}
.input-signup select {
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 247px;
  border-color:black;
}

/* Style for the arrow icon */
.input-signup select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #333;
  font-size: 16px;
  pointer-events: none;
}
